<template name="login">
    <body>
    <div class="top"><div class="logos"><!--<img id="logoRTC" src="img/WebRTClogo.png">--><img id="logoBeta" src="/img/beta.png"><!--<img id="logoSeaplace" src="img/logoSeaplace.png">--><img id="logoHI" src="/img/logoHi.png"></div></div>
    <!-- EJEMPLO USO PACKAGE PROPIO<div class="up">{{>meteorErrors}}</div>-->
    <div class="up"></div>
    <!--<div class="middle">-->
        <div class="loginBox">
            <img src="/img/hi_mundo.png" style="width:50px;margin-top:10px"><br/><br/>
            <form class="loginform"  method='post' accept-charset='UTF-8'>
                <div class="textMiddle">
                    <div class="{{errorClass 'username'}}"><input type="text" id="username" name="username" placeholder="Usuario o Correo Electrónico"><br/><br/></div>

                    <div class="{{errorClass 'password'}}"><input type="password" id="password" name="password" placeholder="Contraseña" ><br/><br/></div>

                    <!--<input id="sala" placeholder="Sala"><br/><br/>-->
                    <button type="submit" name='Submit' class="btn btn-primary btn-block">Entrar</button><br/><br/>
                    <!--<br/><div id="error" name="error" style="color: gray; text-align:left;padding-left:20px;padding-top:4px;display:none; font-size:10px;">Por favor, rellene los campos.</div>-->
                    <a href="{{pathFor 'forgotpass'}}" class="link-auth-alt">¿Ha olvidado su contraseña?</a><br/>
                    <a href="{{pathFor 'signup'}}" class="link-auth-alt">¿Necesita una cuenta? Regístrese ahora.</a>
                </div>
            </form>
        </div>
    <!--</div>-->
    <div class="down"></div>

    </body>
</template>